@model AptekaKg.Views.Medicine.MapModel
@{
	ViewData["Title"] = "Map Page";
	Layout = "_Layout";
}
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<body>
<div id="map" style="width: 100%; height: 500px;"></div>
<div class="footer">
    <div class="container">
        <img src="images/pay.png" class="img-responsive" alt="" />
        <ul class="footer_nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <p class="copy">Copyright&copy; 2015 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
    </div>
</div>
</body>
<script>
    DG.then(function () {
        var map = DG.map('map', {
            center: [42.8746, 74.5698],
            zoom: 13
        });

        // Функция для добавления маркера
        function addMarker(lat, lon, name) {
            DG.marker([lat, lon]).addTo(map).bindPopup(name);
        }

        // Получение данных об аптеках Неман через API 2ГИС
        var apiKey = 'YOUR_API_KEY'; // Замените на ваш API ключ
        var url = `https://catalog.api.2gis.ru/3.0/items?key=${apiKey}&q=Аптека%20Неман&type=branch&city_id=7&fields=items.point`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                data.result.items.forEach(item => {
                    var point = item.point;
                    var name = item.name;
                    addMarker(point.lat, point.lon, name);
                });
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>
